# Challenge Part 3

In [101]:
%matplotlib inline

# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os 
import statistics
import scipy.stats as sts
# Import mpl to change the plot configurations using rcParams.
import matplotlib as mpl

import random 
import timeit
import requests
import time
import gmaps

#Notice the difference in import syntax for these modules. This eliminates the need to double type the name
#For example: datetime.datetime.xyz
from citipy import citipy
from datetime import datetime
from scipy.stats import linregress

# Import API keys.
from config import weather_api_key

from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)


# Part 1 section 3 ####################################################################################
# Load in csv 
vacationData_to_load = os.path.join("weather_data", "WeatherPy_vacation.csv")

vacation_df = pd.read_csv(vacationData_to_load)

In [103]:
vacation_df.drop(vacation_df.columns[[0]], axis=1, inplace=True)
vacation_df

,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
0,Ixtapa,MX,86.00,20.70,-105.20,broken clouds,Container Inn Puerto Vallarta
1,Kapaa,US,84.20,22.08,-159.32,few clouds,Sheraton Kauai Resort at Coconut Beach
2,Khatanga,RU,77.79,71.97,102.50,overcast clouds,"Gostinitsa ""Zapolyar'ye"""
3,Faanui,PF,76.68,-16.48,-151.75,overcast clouds,Bora-Bora Pearl Beach Resort & Spa
4,Manavalakurichi,IN,78.80,8.13,77.30,mist,Udaya Boys Hostel
...,...,...,...,...,...,...,...
159,Lahat,ID,81.09,-3.80,103.53,scattered clouds,Bukit Serelo Hotel
160,Lashio,MM,76.71,22.93,97.75,overcast clouds,Hotel CF Lashio - Burmese Only
161,Devils Lake,US,87.80,48.11,-98.87,clear sky,Holiday Inn Express Devils Lake
162,Hirara,JP,86.00,24.80,125.28,broken clouds,Hotel Atoll Emerald Miyakojima
163,Chiang Klang,TH,82.40,19.29,100.86,scattered clouds,Sangthongresort

In [104]:
# Part 1 section 5 ####################################################################################
# Customer prompts to narrow down the vaction country
country_code = str(input("Where would you like to travel? (enter the count code: i.e JP) "))

Where would you like to travel? (enter the count code: i.e JP) US

In [105]:
#Filter country code

preferred_cities_df = vacation_df.loc[(vacation_df["Country"] == country_code)]

preferred_cities_df

,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
1,Kapaa,US,84.20,22.08,-159.32,few clouds,Sheraton Kauai Resort at Coconut Beach
29,Mayo,US,75.20,38.89,-76.51,clear sky,Resorts Resource Group International
30,Brookhaven,US,80.01,31.58,-90.44,overcast clouds,Americas Best Value Inn Brookhaven
43,Hamilton,US,75.99,39.18,-84.53,scattered clouds,Six Acres Bed & Breakfast
46,Sterling,US,79.00,39.01,-77.43,overcast clouds,Hampton Inn & Suites Washington-Dulles Interna...
53,Hilo,US,82.40,19.73,-155.09,scattered clouds,Hilo Hawaiian Hotel
67,Cedar City,US,87.80,37.68,-113.06,clear sky,Hampton Inn Cedar City
71,Sulphur Springs,US,86.00,33.14,-95.60,clear sky,Clarion Pointe by Choice Hotels Sulphur Springs
77,Elizabeth City,US,82.40,36.29,-76.25,clear sky,Hampton Inn Elizabeth City
78,Ahuimanu,US,86.00,21.44,-157.84,scattered clouds,Paradise Bay Resort
80,Santa Ana,US,75.00,33.75,-117.87,scattered clouds,Best Western Plus Orange County Airport North
84,Makakilo City,US,87.80,21.35,-158.09,broken clouds,Marriott's Ko Olina Beach Club
99,Hibbing,US,78.80,47.43,-92.94,few clouds,Hibbing Park Hotel and Suites
102,Boone,US,78.01,39.03,-92.33,overcast clouds,Cottonwoods RV Park
108,Hope,US,87.01,33.67,-93.59,scattered clouds,Best Western Hope
109,Virginia Beach,US,82.40,36.85,-75.98,scattered clouds,Hilton Virginia Beach Oceanfront
112,Opportunity,US,77.00,47.65,-117.24,scattered clouds,Comfort Inn & Suites
126,Mount Pleasant,US,84.20,32.79,-79.86,haze,Best Western Patriots Point
129,Price,US,89.60,39.60,-110.81,clear sky,National 9 - Price River Inn
139,Mitchell,US,84.20,43.71,-98.03,clear sky,Kelly Inn & Suites
145,Mountain Home,US,84.20,43.13,-115.69,clear sky,Mountain Home Inn
152,Houma,US,82.99,29.60,-90.72,clear sky,Courtyard by Marriott Houma
161,Devils Lake,US,87.80,48.11,-98.87,clear sky,Holiday Inn Express Devils Lake

In [106]:
len(preferred_cities_df)

23

In [107]:
# Part 1 section 5 ####################################################################################
#Split the prefered dataframe into 4 separate ones
city1 = preferred_cities_df.iloc[1]  
city1

City                                           Mayo
Country                                          US
Max Temp                                       75.2
Lat                                           38.89
Lng                                          -76.51
Description                               clear sky
Hotel Name     Resorts Resource Group International
Name: 29, dtype: object

In [108]:
city1_df = city1.to_frame()
city1_df.columns= ["Data"]
city1_df

                                             Data
City                                         Mayo
Country                                        US
Max Temp                                     75.2
Lat                                         38.89
Lng                                        -76.51
Description                             clear sky
Hotel Name   Resorts Resource Group International

In [109]:
type(city1_df)

pandas.core.frame.DataFrame

In [110]:
#Split the prefered dataframe into 4 separate ones
city2 = preferred_cities_df.iloc[2]  
city2_df = city2.to_frame()
city2_df.columns= ["Data"]
city2_df

                                           Data
City                                 Brookhaven
Country                                      US
Max Temp                                  80.01
Lat                                       31.58
Lng                                      -90.44
Description                     overcast clouds
Hotel Name   Americas Best Value Inn Brookhaven

In [111]:
#Split the prefered dataframe into 4 separate ones
city3 = preferred_cities_df.iloc[3]  
city3_df = city3.to_frame()
city3_df.columns= ["Data"]
city3_df

                                  Data
City                          Hamilton
Country                             US
Max Temp                         75.99
Lat                              39.18
Lng                             -84.53
Description           scattered clouds
Hotel Name   Six Acres Bed & Breakfast

In [112]:
#Split the prefered dataframe into 4 separate ones
city4 = preferred_cities_df.iloc[4]  
city4_df = city4.to_frame()
city4_df.columns= ["Data"]
city4_df

                                                          Data
City                                                  Sterling
Country                                                     US
Max Temp                                                    79
Lat                                                      39.01
Lng                                                     -77.43
Description                                    overcast clouds
Hotel Name   Hampton Inn & Suites Washington-Dulles Interna...

In [113]:
city1_coords = (city1_df.Data.Lat, city1_df.Data.Lng)
city1_coords

(38.89, -76.51)

In [114]:
# Part 1 section 6 ####################################################################################
# Latitude-longitude pairs
city1_coords = (city1_df.Data.Lat, city1_df.Data.Lng)
city2_coords = (city2_df.Data.Lat, city2_df.Data.Lng)
city3_coords = (city3_df.Data.Lat, city3_df.Data.Lng)
city4_coords = (city4_df.Data.Lat, city4_df.Data.Lng)

# Part 1 section 7 ####################################################################################
fig = gmaps.figure()

vacation = gmaps.directions_layer(city1_coords, city4_coords, waypoints=[city2_coords, city3_coords], travel_mode='DRIVING')

fig.add_layer(vacation)

fig

Figure(layout=FigureLayout(height='420px'))

In [115]:
# Part 1 section 9 ####################################################################################

In [124]:
#combine city info into 1df to feed into map pop-ups
#city_fares_pivot = city_fares_df.pivot(index="Date", columns="City Type", values = "Fare")
#city_fares_pivot

location_info = preferred_cities_df.iloc[1:5]  
location_info

,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
29,Mayo,US,75.20,38.89,-76.51,clear sky,Resorts Resource Group International
30,Brookhaven,US,80.01,31.58,-90.44,overcast clouds,Americas Best Value Inn Brookhaven
43,Hamilton,US,75.99,39.18,-84.53,scattered clouds,Six Acres Bed & Breakfast
46,Sterling,US,79.00,39.01,-77.43,overcast clouds,Hampton Inn & Suites Washington-Dulles Interna...

In [125]:
# The pop-up box html formatting
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
popup_info = [info_box_template.format(**row) for index, row in location_info.iterrows()]

In [126]:
locations = location_info[["Lat", "Lng"]]
locations

      Lat    Lng
29  38.89 -76.51
30  31.58 -90.44
43  39.18 -84.53
46  39.01 -77.43

In [127]:
fig = gmaps.figure()

vacation = gmaps.directions_layer(city1_coords, city4_coords, waypoints=[city2_coords, city3_coords], travel_mode='DRIVING')

marker_layer = gmaps.marker_layer(locations, info_box_content=popup_info)

fig.add_layer(vacation)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))